html {
  scroll-behavior: smooth;
  font: 16px/#{$notation_default_line_height} $notation_default_font_family;

  @include mq(tablet) {
    font: 16px/#{$notation_default_line_height} $notation_default_font_family;
  }

  @include mq(desktop) {
    font: #{$notation_default_font_size}/#{$notation_default_line_height} $notation_default_font_family;
  }
}
