.comments-area {

  .comment-form-comment {

    textarea {
      width: 100%;
      height: 50px !important;
    }
  }

  .submit {
    font-size: rem(13px);
    letter-spacing: 0.025em;
    text-transform: capitalize;
    background: $notation_branding_color;
    color: $notation_neutral_white;
    box-sizing: border-box;
    border-radius: $notation_global_radius;
    transition: $notation_global_transition;
    padding: rem(12px) rem(16px);
    cursor: pointer;
    font-weight: 500;
    border: none;

    &:hover {
      background-color: $notation_branding_color_accent;
    }
  }

  .comment-list {
    list-style: none;

    ul, ol {
      list-style: none;
    }
  }
}

#cancel-comment-reply-link {
  color: $notation_branding_color;
  text-decoration: none;

  &:hover {
    color: $notation_neutral_black;
  }
}
