.c-main {
  width: calc(100% - 28px);
  flex-grow: 1;
  padding: rem(16px 14px);
  display: flex;
  flex-direction: column;
  transition: $notation_global_transition;

  @include mq(desktop) {
    width: calc(60% - 12%);
    padding: rem(48px) 6%;
  }

  @include mq(wide) {
    width: calc(60% - 16%);
    padding: rem(48px) 8%;
  }
}

.c-main__title {
  margin: 0 0 rem(14px);
  padding-left: rem(14px);
}

.c-main__desc {
  margin: 0 0 1.25rem;
  padding-left: 0.875rem;
}
