.c-post {

}

.c-post__meta {
  margin:0 0 rem(8px);
  display: flex;
  align-items: center;
  color: $holo_neutral_primary_color;
  flex-wrap: wrap;
}

.c-post__title {
  word-break: break-word;
  margin: 0 0 rem(3px);
  font-weight: 400;
  transition: $holo_global_transition;
  display: inline-block;
  word-wrap: break-word;
}

.c-post__title-link {
  color: $holo_headings_color;
  text-decoration: none;

  &:hover {
    color: $holo_branding_color;
  }
}

.c-post__thumbnail {
  display: block;
  width: 100%;
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  overflow: hidden;
  border-radius: $holo_global_radius2x;
  margin-bottom: rem(22px);

  &:hover {
    img {
        transform: scale(1.03);
    }
  }
}

.c-post__thumbnail--single.s-post-thumbnail {
  padding: 0;
  text-align: center;

  img {
    position: unset;
  }

  &:hover {
    img {
      transform: unset;
    }
  }
}

.s-post-thumbnail {

  img {
    transition: $holo_global_transition ease-out;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: $holo_global_radius2x;
  }
}

.c-post__date, .c-post__author, .c-post__comments {
  font-weight: normal;
  font-size: rem(13px);
  line-height: rem(20px);
  text-transform: capitalize;
  color: $holo_neutral_primary_color;
  text-decoration: none;

  &:is(a):hover {
    color: $holo_headings_color;
  }
}

.c-post__author__link, .c-post__comments__link {
  font-weight: normal;
  font-size: rem(13px);
  line-height: rem(17px);
  text-transform: capitalize;
  color: $holo_neutral_primary_color;
  text-decoration: none;

  &:hover {
    color: $holo_branding_color;
  }
}

.c-post__excerpt {
  color: $holo_neutral_primary_color;
  font-style: normal;
  font-weight: normal;
  font-size: rem(14px);
  line-height: rem(27px);

  @include mq(tablet) {
    font-size: rem(16px);
  }
}

.c-post__read-more__link {
  @include h6;
  color: $holo_branding_color;
  text-decoration: none;

  @include mq(tablet) {
    @include h5;
  }

  &:hover {
    color: $holo_headings_color;
  }
}


// Single
.c-post--single {

  .c-post__footer {
    margin: rem(48px) 0;
  }

  .c-post__header {
    margin-bottom: rem(40px);
  }

  .c-post__header__meta {
    color: $holo_neutral_primary_color;
    @include h5;
  }

  .c-post__date , .c-post__author , .c-post__author__link{
    @include h5;
    font-weight: 400;
  }

  .c-post__title {
    @include h1;
  }
}

.c-post__content {
  font-size: rem(13px);
  line-height: rem(20px);
  font-weight: 400;
  margin: rem(3px) 0 rem(16px);
  color: $holo_neutral_primary_color;

  * {
    max-width: 100%;
  }

  p {
    margin: 0;
  }
}

.c-post--single .c-post__content {
  font-size: rem(16px);
  line-height: rem(21px);
  font-weight: 400;
  margin: rem(3px) 0 rem(16px);
  color: $holo_neutral_black;

  p {
    margin: rem(16px) 0;
  }

  .page-links {

    a {
      margin: 0 rem(4px);
      padding: rem(4px);
    }
  }
}

.c-post__container {
  max-width: rem(670px);
  margin-right: auto;
  margin-left: auto;
}

.c-post__footer__tags {
  color: $holo_neutral_primary_color;
}

.c-post__tags__title {
  color: $holo_headings_color;

  &::after {
    content: '';
    width: rem(64px);
    height: rem(1px);
    background-color: $holo_headings_color;
    display: inline-block;
    margin: 0 rem(8px);
    vertical-align: middle;
  }
}

.s-post-tags {

  a {
    color: $holo_neutral_primary_color;
    text-decoration: none;

    &:hover {
      color: $holo_branding_color;
    }
  }
}

.c-post__footer {
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: rem(13px);
  line-height: rem(20px);
}

.c-post__cats {
  margin-bottom: rem(16px);
}

.c-post__tags, .c-post__cats {
  display: flex;
  margin-top: rem(40px);
  min-width: 100%;
  flex-wrap: wrap;

  @include mq(tablet) {
    margin-top: 0;
  }

  a {
    margin: 0 0 0 rem(4px);
    color: $holo_neutral_primary_color;
    text-decoration: none;

    &:hover {
      color: $holo_branding_color;
    }
  }
}

.c-post--archive {
  padding: rem(12px 14px);
  position: relative;
  border-radius: $holo_global_radius2x;
  transition: $holo_global_transition;

  &:hover {
    background-color: $holo_neutral_tertiary_color;
  }
}

.c-post__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.c-post--archive-main {
  margin-bottom: rem(12px);
}

.c-post__meta__separator {
  margin: 0 rem(4px);
}

.rtl {
  .c-post__tags, .c-post__cats {

    a {
      margin: 0 rem(4px) 0 0;
    }
  }
}
