.c-widget {
  margin-bottom: rem(48px);
}

.c-widget__title {
  margin: 0 0 rem(24px);
}

.s-footer-widgets {
  .c-widget {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@import "widgets/rating-filter";
@import "widgets/price-filter";
@import "widgets/rated-posts";
@import "widgets/lists";
@import "widgets/dropdowns";
@import "widgets/gallery";
@import "widgets/nav";
@import "widgets/cart";

