//************************
//    VARIABLES
//************************
$gl-colCount: 12 !default;
$gl-gridName: o-grid !default;
$gl-colName: o-col !default;
$gl-attributeName: class !default;
$gl-gutter: 1.75rem !default; // Total left + right
$gl-gutter-vertical: 0 !default;
$gl-mq-width: 'min-width' !default;
$gl-mq-list: $global_media_queries;
