.c-account {
  border: none;
  padding: 0;
  max-width: rem(500px);
  margin-left: auto;
  margin-right: auto;
}

.c-account {
  border: none;
  padding: 0;


  .c-account__login-form, .c-account__register-form, .c-account__reset-password {
    .c-account__btn {
      font-weight: 500;
      line-height: rem(21px);
      text-transform: uppercase;
      background: $wp_notes_neutral_black;
      box-sizing: border-box;
      border-radius: $wp_notes_global_radius;
      padding: rem(6px);
      width: calc(100% - 0.6rem);
      text-align: center;
      display: block;
      color: $wp_notes_neutral_white;
      font-family: inherit;
      margin-top: rem(32px);
      border: 1px solid $wp_notes_neutral_black;
      font-size: rem(12px);

      @include mq(desktop) {
        font-size: rem(16px);
        padding: rem(16px);
        width: calc(100% - 0.22rem);
      }

      &:hover {
        background-color: $wp_notes_neutral_white;
        color: $wp_notes_neutral_black;
      }

      @include mq(tablet) {
        margin-top: rem(64px);
      }
    }
  }

  .c-account__forgot-password {
    color: $wp_notes_headings_color;
    font-size: rem(16px);
    line-height: rem(21px);
    text-align: center;
    margin: rem(16) 0 0;
  }

  .c-account__forgot-password__link {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;

    &:hover {
      color: $wp_notes_branding_color;
    }
  }

  .c-account__register-form .woocommerce-privacy-policy-link {
    color: $wp_notes_headings_color;
    font-size: rem(16px);
    line-height: rem(21px);
    text-align: center;
    margin: rem(16) 0 0;

    &:hover {
      color: $wp_notes_branding_color;
    }
  }
}

.c-account__nav__items {
  background-color: $wp_notes_neutral_tertiary_color;
  border-radius: $wp_notes_global_radius2x;
  padding: rem(2px);
  display: flex;
  justify-content: space-between;

  @include mq(desktop) {
    padding: rem(5px);
  }
}

.c-account__nav__btn {
  width: 49%;
  padding: rem(6px);
  background-color: transparent;
  border-radius: $wp_notes_global_radius;
  border: none;
  cursor: pointer;
  transition: $wp_notes_global_transition;
  font-size: rem(12px);

  @include mq(desktop) {
    padding: rem(12px);
    font-size: rem(16px);
    border-radius: $wp_notes_global_radius2x;
  }

  &:hover {
    background-color: $wp_notes_neutral_secondary_color;
  }

  &.is-active {
    background-color: $wp_notes_neutral_white;
    box-shadow: rem(1px 1px 4px) rgba(0, 0, 0, 0.1);
  }
}


.c-account__carousel {
  width: 100%;
}

.c-account__carousel__cell {
  width: 100%;
}

.c-account__login-form, .c-account__register-form {
  padding-top: rem(64px) !important;

  @include mq(tablet) {
    padding-top: rem(128px) !important;
  }
}
