// Globals
$global_media_queries: (
        xs: 36em,
        sm: 48em,
        md: 64em,
        lg: 80em
) !default;
$notation_global_transition: 0.25s !default;
$notation_global_radius: 0.225rem !default;
$notation_global_radius2x: 0.45rem !default;

// Colors
$notation_headings_color: var(--notation-primary-color);
$notation_neutral_primary_color: var(--notation-secondary-color);
$notation_neutral_secondary_color: var(--notation-tertiary-color);
$notation_neutral_tertiary_color: var(--notation-quaternary-color);
$notation_neutral_white: #fff;
$notation_neutral_black: var(--notation-primary-color);

$notation_branding_color: var(--notation-branding-color);
$notation_branding_color_accent: var(--notation-branding-accent-color);

$notation_error_color: #D82700;

// Typography (Fallback)
$notation_default_font_family: 'Inter', Arial;
$notation_default_font_size: 16px;
$notation_default_line_height: 1.563;


