.c-widget.widget_media_gallery {

  .gallery {
    display: flex;
    flex-wrap: wrap;

    figure {
      width: 100%;
      margin: 0;
      padding: 0 rem(8px 8px) 0;

      a {
        display: flex;
      }
    }

    &.gallery-columns-1 {

      .gallery-item {
        max-width: 100%;
      }
    }

    &.gallery-columns-2 {

      .gallery-item {
        max-width: calc(50% - 8px);
      }
    }

    &.gallery-columns-3 {

      .gallery-item {
        max-width: calc(33.3333% - 8px);
      }
    }

    &.gallery-columns-4 {

      .gallery-item {
        max-width: calc(25% - 8px);
      }
    }

    &.gallery-columns-5 {

      .gallery-item {
        max-width: calc(20% - 8px);
      }
    }

    &.gallery-columns-6 {

      .gallery-item {
        max-width: calc(16.6666% - 8px);
      }
    }

    &.gallery-columns-7 {

      .gallery-item {
        max-width: calc(14.2857% - 8px);
      }
    }

    &.gallery-columns-8 {

      .gallery-item {
        max-width: calc(12.5% - 8px);
      }
    }

    &.gallery-columns-9 {

      .gallery-item {
        max-width: calc(11.1111% - 8px);
      }
    }
  }
}
